/*
Colors:
 header-green: rgb(47,161,135)
 background-green: rgb(50,187,157)
 player-badge: rgb(36,106,176);
 player-name: white
 player-disciple:    color: rgb(69,150,203);
*/



.game_screen {
    margin-bottom:20px;
}

.game_menu {
    display: inline-block;
    position: relative;
    right: 13%;
    bottom: -86px;
}

.main_doctor {
    display: inline-block;
    position: relative;
    right: 13%;
}

.sky-setting {
    background-image: url(/img/scenes/settingV02.png);
    height: 760px;
    width: 1140px;
    position: relative;
}

.stand {
    width: 665px;
    height: 464px;
    top: 150px;
    left: 235px;

    position: absolute;
    z-index: 200;
}

.stand .doctor {
    position: absolute; /* within stand */
    bottom: 10px;
    z-index: -100;
    width: 150px;
    left: 225px;
}

.stand .doctor img {
    width: 225px
}

.sky-setting .continue {
    position: absolute;
    bottom: 100px;
    left: 750px;
    font-size: 1.2em;
    z-index: 600;
}

.nextPatient {
    position: absolute;
    bottom: -45px;
    left: 650px;
    font-size: 1.2em;
    z-index: 600;
}

.seeReview {
    position: absolute;
    bottom: -130px;
    left: 732px;
    font-size: 1.2em;
    z-index: 600;
}

.endGame {
    position: absolute;
    bottom: -130px;
    left: -200px;
    font-size: 1.2em;
    z-index: 600;
}

.previousPatient {
    position: absolute;
    bottom: -47px;
    right: 639px;
    font-size: 1.2em;
    z-index: 600;
}

.doctor_head {

}

.doctor-full-body {
    max-width:40%;
}

.game_menu_button {
    margin-bottom: 20px;
}

.player_badge {
    width: 90%;
}

.player_score{
    width: 90%;
}

.player_badge, .player_score {
    background-color: rgb(36, 106, 176);
    padding: 7px 7px;
    margin: 0.7em 20px;
}

.player_badge .player_icon {
    text-align: center;
    float: left;
}

.player_badge .player_icon img {
    max-width: 70px;
    margin-right: 7px;
    margin-bottom:7px;
}

.player_badge .player_name, .player_score .possible_score, .player_score .earned_score {
    margin-bottom: 2px;
    color: white;
}

.player_badge .player_discipline {
    color: white;
}

.character_header {
    background-color: rgb(36, 106, 176);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
}

.character_header h1 {
    font-weight: bold;
    font-size: 4em;
    margin: 8px auto;

}

.character_header input[type=text] {
    color: black;
}

.character_body {
    background-color: rgb(69, 150, 203);;
    color: white;
    padding: 1em;
    font-size: 1.2em;
}

.character_body h2 {
    margin-top: 5px !important;
}

.character_body > .col-md-12 {
    padding: 0px !important;
}

.character-choice {
    min-height: 225px;
}

.selection_row {
    height: 100%;
    padding-bottom: 20px;
    background-color: #eee;
    padding-left:1em;
    }

@media (max-width: 767px) {
    .row_height {
        height: 720px;
    }
}
@media (max-width: 767px) {
    .textbox_size {
        width: 321px;
    }
}

.shift-choice {
    min-height: 150px;
    padding: 12px;
    font-size: .9em;
    text-transform: uppercase;
}

.shift-choice-box {
    margin-bottom:50px;
}

.review-patients-row {
    padding-top:20px;
    /*padding-bottom:20px;*/
    background-color: #eee;
}

.question_header {
    background-color: rgb(47, 161, 135);
    color: white;
    padding-left:2em;
    padding-top: 12px;
    padding-bottom: 12px;
}

.question_header h1 {
    font-weight: bold;
    font-size: 5em;
    margin: 10px auto;
}

.question_text_area {
    background-color: rgb(50, 187, 157);
    color: white;
    padding-left:2em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.question_patient_icon img {
    width: 200px;
}

.question_text_area .category_header {
    font-size: 2em;
}

.question_text_area .category_label {
    font-weight: bold;
}

.category_label {
    font-weight: bold;
}

.earned_label {
    font-weight: bold;
    left: 5px;
    text-align: center;
}

.patient_label {
    left: 5px;
    text-align: center;
}

.category {
    font-size: .9em;
}

.disciplines_tab{
    margin-left: 50px;
}

.question_text_area .value {

}

.question_image {
    text-align: center;
}

.question_image img {
    margin-top: 1em;
}

.answer_choice {
    min-height: 300px;
    padding: 12px;
    font-size: 1.2em;
}

.answer_choice .answer_letter {
    font-size: 2em;
    font-weight: bold;

}

.answer_text{
    padding-top: 5px;
}

.answer_choice input {

}

.answer_explanation {
    font-size: 1.2em;
}

.correct-answer {
    font-weight:bold;
    color: #009933;
}

.incorrect-answer {
    color: #d0483d;
    font-weight:bold;
}

.leaderboard-header {
    font-size:32px;
    font-weight:bolder;
}

.leaderboard-number {
    padding-top: 40px;
    padding-right:60px;
}

.leaderboard-number > .numberCircle {
    border-radius: 50%;

    width: 50px;
    height: 50px;
    padding: 8px;

    background: #2fa187;
    border: 2px solid #2fa187;
    /*color: #666;*/
    text-align: center;

    font-size: 32px;
    /*color: #2fa187;*/
}

.record-name {
    font-size:32px;
}

.number-text {
    display: block;
    margin-top: -7px;
    color:white;
}

.number-text-two-digit {
    display: block;
    margin-top: -7px;
    margin-left: -3px;
    color:white;
}

.leaderboard-head {
    max-width: 150px;
}

.leaderboard-record {
    padding-top: 25px;
}

.leaderboard-record > .record-text {
    padding-top: 37px;
}

.leaderboard-row {
    height: 100%;
    padding-bottom: 20px;
    background-color: #eee;
}

hr {
    background-color: transparent;
    border-color: rgb(47, 161, 135);
    border-width: 2px;
}

/*---------------------
ADMIN-SIDE SITE STYLE
---------------------*/

/*ACCORDION FOR INDEX PAGE*/

.accordion {
    width: 100%;
    overflow: hidden;
    margin: 10px auto;
    color: whitesmoke;
    background: whitesmoke;
    padding: 10px;
}

.accordion section:target {
    background: #FFF;
    padding: 10px;
}

.accordion section:target:hover {
    background: #FFF;
}

.accordion section:target h2 {
    width: 100%;
}

.accordion section:target a span h2  {
    color: #333;
    padding: 0;
}

.accordion section:target p {
    display: block;
}

.accordion section a span h2 {
    padding: 0px 10px;
    display: block;
    font-size: 22px;
    font-weight: normal;
    color: black;
    text-decoration: none;
}

/*set style of closed slide*/
.accordion section {
    float: left;
    overflow:hidden;
    color: #333;
    cursor: pointer;
    background: darkgray;
    margin: 3px;
}

.accordion section:hover {
    background: whitesmoke;
}

.accordion section p {
    display: none;
}

.accordion section:after {
    position: relative;
    font-size: 24px;
    color: #000;
    font-weight: bold;
}

.vertical section {
    width: 100%;
    height: 40px;
   /* -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    -ms-transition: height 0.5s ease-out;*/
}

.vertical :target {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.vertical section h2 {
    position: relative;
    left: 0;
    top: -20px;
}

.vertical section:target:after {
    left: -9999px;
}

.grey-box {
    background-color:whitesmoke;
    padding:15px;
    margin-bottom:20px;
}

/*SHOW PAGE*/

section {
    background-color: whitesmoke;
    padding:10px;
}

/*button styles*/
.btn {
    max-width:250px;
}
.btn-position-right {
    float: right;
    display: inline-block;
}

.btn-position-left {
    float: left;
    display: inline-block;
}

/*modal style*/
.modal-dialog {
    z-index: inherit;
    width:50% !important;
}

.modal-dialog dd {
    padding-left:20px;
}

.modal-dialog dt {
    padding-top: 5px;
}

/*Image Slider Arrow Style */
/* jssor slider arrow navigator skin 02 css */
/*
.jssora02l                  (normal)
.jssora02r                  (normal)
.jssora02l:hover            (normal mouseover)
.jssora02r:hover            (normal mouseover)
.jssora02l.jssora02ldn      (mousedown)
.jssora02r.jssora02rdn      (mousedown)
*/
.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('/img/how_to_play/a03.png') no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -242px -33px; }
.jssora02r:hover { background-position: -302px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }

/*Image Slider Bullet Style*/
.jssorb14 {
    position: absolute;
}
.jssorb14 div, .jssorb14 div:hover, .jssorb14 .av {
    position: absolute;
    width: 12px;
    height: 12px;
    background: url('/img/how_to_play/b14.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb14 div { background-position: -9px -9px; }
.jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
.jssorb14 .av { background-position: -69px -9px; }
.jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }

.image_caption{
    position: absolute;
    top: 750px;
    left: 0;
    width: 100%;
    height: 50px;
    background: #000;
    background-color: rgba(0, 0, 0, 0.4);
    font-size:35px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-family: sans-serif;
}

.admin{
    display: none;
}
.user{
    display: none;
}

ul {
    list-style: none;
}

.ui-autocomplete {
    background-color:whitesmoke;
    /*width:100% !important;*/
}
.disabledCategoryLabel {
    opacity: .5;
}

.shift-choice label {
    font-weight: bold;
    cursor: pointer;
}

/* How to Play Slider Styles*/
.jssora02l {
    top: 325px !important;
    left: 0px;
}

.jssora02r {
    top: 325px !important;
    right: 0px;
}

.slider-image {
    height:auto !important;
    width:auto !important;
    max-width:90% !important;
    max-height: 90% !important;
    margin-left: 5% !important;
}

.final-review-slider-image {
    overflow-y: hidden;
}

.ui-helper-hidden-accessible {
    display:none;
}

.discipline-label {
    height: 50px;
}


/***************/
.patient-button {
    text-decoration: none !important;
}

.patient-button > .speech-bubble {
    text-decoration: none;
}

.patient-button > .speech-bubble > p {
    text-decoration: none;
}

.speech-bubble {
    background: rgb(50, 187, 157);
    color: white;
    font-size: 14px;
    font-weight: bolder;
    line-height: 4em;
    margin-bottom: 1em;
    padding: 0 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
    min-width: 7em;
    max-width:135px;
}

.speech-bubble:after {
    border: 1em solid transparent;
    border-top-color: rgb(50, 187, 157);
    content: '';
    margin-left: -1em;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
}

.speech-bubble.rounded {
    border-radius: .4em;
}

.phone-message-hidden {
    display: none;
}

.ist-logo-image {
    max-width:100%;
}

/*******************************************
*
* MEDIA QUERIES FOR STAND SCREEN POSITIONING
*
*******************************************/

/* Portrait */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 1) {

    #slider1_container {
        zoom: .6;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .speech-bubble {
        line-height: 2em;
        padding: 1em 1em;
    }

    .iradio_square-grey {
        background-position: -287px 0px !important;
        margin-left: 50px !important;
        width: 45px !important;
        height: 45px !important;
    }

    .iradio_square-grey.checked {
        background-position: -335px 0px !important;
    }

    .iradio_square-blue {
        background-position: -287px 0px !important;
        margin-left: 135px !important;
        width: 45px !important;
        height: 45px !important;
    }

    .iradio_square-blue.checked {
        background-position: -335px 0px !important;
    }

    .phone-message-hidden {
        display: none;
    }

    .sky-setting {
        background-image: url(/img/scenes/setting-tablet-vertical.png);
        height: 481px;
        width: 720px;
        position: relative;
    }

    .stand {
        width: 381px;
        height: 255px;
        top: 150px;
        left: 185px;
        position: absolute;
        z-index: 200;
    }

    .stand-image {
        width:100%;
    }

    .stand .doctor {
        position: absolute; /* within stand */
        bottom: -25px;
        z-index: -100;
        width: 150px;
        left: 125px;
    }

    .stand .doctor img {
        width: 150px
    }

    .sky-setting .continue {
        position: absolute;
        bottom: 100px;
        left: 750px;
        font-size: 1.2em;
        z-index: 600;
    }

    .nextPatient {
        position: absolute;
        bottom: -45px;
        left: 375px;
        font-size: 1.2em;
        z-index: 600;
    }

    .patient-image {
        width:150px;
    }

    .seeReview {
        position: absolute;
        bottom: -130px;
        left: 732px;
        font-size: 1.2em;
        z-index: 600;
    }

    .endGame {
        position: absolute;
        bottom: -65px;
        left: -175px;
        font-size: 1.2em;
        z-index: 600;
    }

    .previousPatient {
        position: absolute;
        bottom: -25px;
        right: 400px;
        font-size: 1.2em;
        z-index: 600;
    }

    .shift-choice-box {
        padding-top: 15px;
        font-size: 20px;
    }

    .shift-choice-box > .shift-choice {
        min-height: 0px;
        float:right;
        text-align: left;
        padding-left: 100px;
    }

    .shift-choice-box > .answer_radio {
        display: inline-block !important;
        float: left;
    }

    .shift-choice-box > .answer_radio > .iradio_square-blue {
        bottom: auto;
        position: inherit;
        display: inline-block !important;
        margin-left: auto;
    }

}

/* Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

    /*.navbar-header {*/
        /*float: none;*/
    /*}*/
    /*.navbar-left,.navbar-right {*/
        /*float: none !important;*/
    /*}*/
    /*.navbar-toggle {*/
        /*display: block;*/
    /*}*/
    /*.navbar-collapse {*/
        /*border-top: 1px solid transparent;*/
        /*box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);*/
    /*}*/
    /*.navbar-fixed-top {*/
        /*top: 0;*/
        /*border-width: 0 0 1px;*/
    /*}*/
    /*.navbar-collapse.collapse {*/
        /*display: none!important;*/
    /*}*/
    /*.navbar-nav {*/
        /*float: none!important;*/
        /*margin-top: 7.5px;*/
    /*}*/
    /*.navbar-nav>li {*/
        /*float: none;*/
    /*}*/
    /*.navbar-nav>li>a {*/
        /*padding-top: 10px;*/
        /*padding-bottom: 10px;*/
    /*}*/
    /*.collapse.in{*/
        /*display:block !important;*/
    /*}*/

    .iradio_square-grey {
        background-position: -287px 0px !important;
        margin-left: 75px !important;
        width: 45px !important;
        height: 45px !important;
    }

    .iradio_square-grey.checked {
        background-position: -335px 0px !important;
    }

    .iradio_square-blue {
        background-position: -287px 0px !important;
        margin-left: 75px !important;
        width: 45px !important;
        height: 45px !important;
    }

    .iradio_square-blue.checked {
        background-position: -335px 0px !important;
    }

    .phone-message-hidden {
        display: none;
    }

    .sky-setting {
        background-image: url(/img/scenes/setting-tablet.png);
        height: 623px;
        width: 935px;
        position: relative;
    }

    .stand {
        width: 545px;
        height: 380px;
        top: 125px;
        left: 215px;
        position: absolute;
        z-index: 200;
    }

    .stand-image {
        width:100%;
    }

    .stand .doctor {
        position: absolute; /* within stand */
        bottom: 10px;
        z-index: -100;
        width: 150px;
        left: 185px;
    }

    .stand .doctor img {
        width: 184px
    }

    .sky-setting .continue {
        position: absolute;
        bottom: 100px;
        left: 750px;
        font-size: 1.2em;
        z-index: 600;
    }

    .nextPatient {
        position: absolute;
        bottom: -45px;
        left: 515px;
        font-size: 1.2em;
        z-index: 600;
    }

    .patient-image {
        width:184px;
    }

    .seeReview {
        position: absolute;
        bottom: -130px;
        left: 732px;
        font-size: 1.2em;
        z-index: 600;
    }

    .endGame {
        position: absolute;
        bottom: -100px;
        left: -200px;
        font-size: 1.2em;
        z-index: 600;
    }

    .previousPatient {
        position: absolute;
        bottom: -47px;
        right: 550px;
        font-size: 1.2em;
        z-index: 600;
    }
}

@media only screen
and (max-device-width: 767px) {
    .hide-small {
        display: none;
    }

    .phone-message-hidden {
        display: block;
    }

    .character_header h1 {
        font-size: 1.5em !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .new_shift{
        margin-left: 570px;
    }
}

/**************************************************/

